Create Card class
Create Player class
Create Computer class
Implement a deck of cards
Dealing and shuffling mechanisms
Check to test for pairs
Win condition
Computer logic
Implement voice recognition for numbered cards
Implement computer voice responses
Create graphics for cards
Create graphics for different themes of cards
Implement voice recognition for different themes
Create main menu(Start, how to play, themes, quit)
Create in-game menu (Resume, restart, how to play, return to main menu)
Create page describing how to play game
Stats (games played, games won, pairs made, game length)

